<%= link_to "P-B-Typing", root_path %>

<%= link_to root_path do %>
  <button class="btn">もどる</button>
<% end %>

<p>ひらがな</p>
<%# タイピング要素 %>
<p id="text"></p>

<p>効果音</p>
<%= link_to "#" do %>
  <button class="btn">あり</button>
<% end %>
<%= link_to "#" do %>
  <button class="btn">なし</button>
<% end %>