header {
  box-sizing: border-box;
  width: 52vw;
  margin: 0 auto;
  background: gray;
  /* background: black; */
  padding: 1rem 0 1rem 2rem;
  font-size: 5rem;
  /* border: 1px solid #000; */
}

.head {
  text-decoration: none;
  color: white;
  /* text-shadow: 0.1rem 0.1rem 1rem black; */
}

.head:hover {
  opacity: 0.7;
  /* color: black; */
  /* text-shadow: 0 0 0.5rem white; */
}

header span {
  color: goldenrod;
  /* color: gold; */
}