body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

/* ヘッダー部分 */
header {
  width: 52vw;
  margin: 0 auto;
  background: dimgray;
  font-size: 5rem;
  box-sizing: border-box;
  padding: 1rem 0 1rem 2rem;
  font-family: "Hiragino Sans", "ヒラギノ角ゴ Pro W4", "メイリオ", "ＭＳ Ｐゴシック", sans-serif;
}

header span {
  color: goldenrod;
}

.title {
  text-decoration: none;
  color: white;
}

.title:hover {
  opacity: 0.6;
}

/* メイン部分 */
/* ヘッダー部分とフッター部分を引いた、残りのエリアを表示 */
main {
  flex: 1;
  width: 52vw;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.greeting {
  font-size: 3rem;
  margin-top: 7rem;
  margin-bottom: 5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
  /* ボーダーの長さを要素の長さに合わせる */
  display: inline-block;
}

.description {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.description-items {
  width: 30rem;
  margin: 0 auto;
  text-align: left;
  font-size: 1.4rem;
}

.account {
  display: flex;
  margin-top: 3rem;
}

.account-btn {
  width: 26vw;
  border: 1px solid dimgray;
  background: #fff;
  box-sizing: border-box;
  padding: 10px 0;
}

.account-btn:hover {
  color: #fff;
  background: dimgray;
}

.trial-text {
  font-size: 1.4rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.trial-btn {
  width: 26vw;
  border: 2px solid goldenrod;
  background: #fff;
  padding: 10px 0;
  margin-bottom: 6rem;
}

.trial-btn:hover {
  color: #fff;
  background: goldenrod;
}

.contents-text {
  font-size: 1.4rem;
  background: dimgray;
  color: white;
}

.contents {
  display: flex;
}

.contents-btn {
  width: 26vw;
  height: 26vw;
  border: 1px solid dimgray;
  background: #fff;
}

.contents-btn:hover {
  color: #fff;
  background: dimgray;
}

/* フッター部分 */
footer {
  width: 52vw;
  margin: 0 auto;
  text-align: center;
  background: dimgray;
}

.cr {
  color: white;
}