#genre {
  visibility: hidden;
}

#count-time {
  font-size: 8rem;
  color: goldenrod;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

#ready {
  width: 52vw;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1.4rem;
}

.ready-text1 {
  opacity: 0.6;
}

.ready-text2 {
  font-size: 2.4rem;
  color: goldenrod;
}

.ready-text3 {
  opacity: 0.6;
}

#start {
  visibility: hidden;
  width: 52vw;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

#hiragana {
  font-size: 2rem;
  opacity: 0.6;
}

#target {
  font-size: 2.7rem;
  opacity: 0.6;
}

.add-color {
  color: goldenrod;
}

#finish {
  visibility: hidden;
  width: 52vw;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.finish-text1 {
  font-size: 2rem;
  opacity: 0.6;
}

.finish-text2 {
  font-size: 2.4rem;
  color: goldenrod;
}

#finish-info {
  font-size: 1.6rem;
  opacity: 0.6;
  margin-top: 1rem;
}

.finish-text3 {
  font-size: 1.4rem;
  opacity: 0.6;
  margin-top: 3rem;
}

.game-data {
  font-size: 1.6rem;
  opacity: 0.6;
  margin-top: 1rem;
}

#replay {
  visibility: hidden;
  width: 52vw;
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
}

.replay-btn {
  width: 26vw;
  border: 1px solid dimgray;
  background: white;
  padding: 10px 0;
}

.replay-btn:hover {
  color: #fff;
  background: dimgray;
}

#sound {
  width: 52vw;
  display: flex;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
}

#sound-on {
  width: 26vw;
  color: #fff;
  border: 1px solid dimgray;
  background: dimgray;
  padding: 10px 0;
}

#sound-off {
  width: 26vw;
  border: 1px solid dimgray;
  background: #fff;
  padding: 10px 0;
}
